body {font-family: Calibri; background:#transparent; font-family: "Segoe UI Emoji"}
h1 {background:#f6f1ee; border-bottom:1px solid; border-bottom-color:#d2b9a6;   margin-top:auto}
h3 {background:#d2b9a6;  margin-bottom:auto}
a { border-bottom-style:dotted; border-bottom-width: 1px; border-bottom-color:#000000; text-decoration:none}
a.top { border-bottom-style:dotted; border-bottom-width: 1px; border-bottom-color:#000000; text-decoration:none; background:transparent; margin: 2px; color: green; font-size: 16px;}
p.tpb {background:#f6f1ee; margin: 2px; color: black; font-size: 16px;}
p.tpb:nth-child(even) {background:#f2ece7; margin: 2px; color: black; font-size: 16px;}
p.s1    {background:#d2b9a6;   margin: 2px; color: black; font-size: 16px;}
p.s2    {background: #f2ece7; margin: 2px; margin-top: 0px; color: black; font-size: 16px; border-bottom:1px solid; border-bottom-color:#d2b9a6; border-top:1px solid; border-top-color:#d2b9a6; border-top-style: dotted; font-weight: bold}
.nav {padding: 0px; margin: 0px}
.pfooter {background: #ffffff; height: 64px; text-align: center; margin: 16px; color: gray; font-size: 18px, padding: 16em}

@media screen and (max-width: 870px) {
    .stojan {
        width: 100%;
    }
}
